/data_integrator/test

# Ignore system files
.DS_Store
.idea/

# Ignore environment files and directories
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Ignore specific service directories
/services/dem
